
.login-content{
	border: 0 !important;
	padding: 0 !important;
	width:400px !important;
	height:450px !important;
}
.login-wrap{
	width:100%;
	background: white;
	margin:auto;
	width:400px;
	height:450px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-wrap .login{
	width:100%;
	height:100%;
	position:absolute;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 45px;
}
.form-wrap {
	display: grid;
}
/*logo*/
.login .img-wrap {
	text-align: center;
	padding-bottom: 40px;
}
.login .login-logo {
	height: 36px;
}
/*logo*/

/*link conrols*/
.login-form button[type=submit] {
  width: 100%;
  background-color: #1a73e8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form .links-wrap {
	text-align: right;
}
.login-form .label-wrap {
	margin: 10px;
}
.link-label {
	width: fit-content;
	font-size: small;
	color: #1161ee;
	cursor: pointer;
}
.link-label.pre{
	color: inherit;
}
/*link conrols*/